<h1>Welcome to the Grocery Store</h1>
<hr />
<h2>Select a department:</h2>
<%= link_to "Create a new store", new_grocery_path %>
<ul>
    <% @groceries.each do |g| %>
        <li><%= link_to g.name, grocery_path(g) %></li>
    <% end %>
</ul>